<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.online.mapper.DepartmentMapper">

    <resultMap id="DepartmentResultMap" type="com.exam.online.entity.Department">
        <id property="departmentId" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <result property="departmentCode" column="department_code"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectById" resultMap="DepartmentResultMap">
        SELECT * FROM department WHERE department_id = #{departmentId}
    </select>

    <select id="selectAll" resultMap="DepartmentResultMap">
        SELECT * FROM department ORDER BY create_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="departmentId">
        INSERT INTO department (department_name, department_code, description)
        VALUES (#{departmentName}, #{departmentCode}, #{description})
    </insert>

    <update id="updateById">
        UPDATE department SET
            department_name = #{departmentName},
            department_code = #{departmentCode},
            description = #{description}
        WHERE department_id = #{departmentId}
    </update>

    <delete id="deleteById">
        DELETE FROM department WHERE department_id = #{departmentId}
    </delete>
</mapper>